body {
  background-color: $light-green;
}

a {
  text-decoration: none !important;
}

p, span {
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif !important;
  color: #114D4D;
}

button {
  color: $light-green !important;
}
