<div class="body-home">
	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg');">
    <div class="container">
       <p>Chaque jour, des milliers de chambres se retrouvent vides.</p>
       <h1>Récupérez les chambres<strong> encore libres </strong><strong>À PRIX RÉDUIT</strong>!</h1>
      <a class="btn btn-flat" href= "/rooms" >Réservez dès maintenant</a>
</div>
