.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.navbar-lewagon .nav-link {
  color: $med-green !important;
  font-size: 12px !important;
  padding-top: 30px;
  padding-right: 30px;
}
